<form id="comment" action="{$URL}" method="post">
<p><label for="test">Type &ldquo;qwerty&rdquo;:</label><br />
<input id="test" name="test" type="text" size="32" class="text" /></p>
<p><label for="name">Name:</label><br />
<input id="name" name="name" type="text" value="{$smarty.post.name}" size="32" class="text" /></p>
<p><label for="name">Website:</label><br />
<input id="website" name="website" type="text" value="{$smarty.post.website}" size="32" class="text" /></p>
<p><label for="text">Comment:</label><br />
<textarea id="text" name="text" rows="12" cols="48" class="text">{$smarty.post.text}</textarea></p>
<p>(All paragraph and line breaks will be preserved, URLs will be turned into
links and all other tags will be stripped.)</p>
<p><input type="submit" value="Comment" /></p>
</form>
